@use '@angular/material' as mat;

@include mat.core();

$mat-blue: (
  50: #e8f0fe,
  100: #c6dafc,
  200: #a1c2fa,
  300: #7baaf7,
  400: #5e97f6,
  500: #4285f4,
  600: #3c7df3,
  700: #3372f1,
  800: #2b68ef,
  900: #1d55ec,
  A100: #ffffff,
  A200: #eef2ff,
  A400: #bbcbff,
  A700: #a1b8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-green: (
  50: #e2f3eb,
  100: #b7e2cd,
  200: #87ceac,
  300: #57ba8a,
  400: #33ac71,
  500: #0f9d58,
  600: #0d9550,
  700: #0b8b47,
  800: #08813d,
  900: #046f2d,
  A100: #9effbc,
  A200: #6bff99,
  A400: #38ff76,
  A700: #1fff65,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-red: (
  50: #fbe9e7,
  100: #f4c7c3,
  200: #eda29b,
  300: #e67c73,
  400: #e06055,
  500: #db4437,
  600: #d73e31,
  700: #d2352a,
  800: #cd2d23,
  900: #c41f16,
  A100: #fff6f6,
  A200: #ffc5c3,
  A400: #ff9490,
  A700: #ff7c76,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-primary: mat.define-palette($mat-blue);
$app-accent: mat.define-palette($mat-green);

$app-warn: mat.define-palette($mat-red);
// The warn palette is optional (defaults to red).

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

@include mat.all-component-themes($app-theme);

// @include angular-material-theme($app-theme);
